.body-div {
  display: flex;
  gap: 60px;
}

ul {
  list-style: none;
}

.username,
.userscore {
  border: 1px solid #000;
}

.submit-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.submit-btn {
  width: 5em;
  position: relative;
}
