.body-div {
  display: flex;
  gap: 10em;
  padding-left: 2em;
  font-size: 18px;
}

h1 {
  padding-left: 0.3em;
}

h4 {
  margin: 0;
}

.username,
.userscore {
  border: 2px solid #000;
  height: 1.5em;
}

.submit-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.submit-btn {
  width: 5em;
  position: relative;
  border: 2px solid #000;
  padding: 0.2em;
  margin-left: 10em;
}

.recent {
  display: flex;
  gap: 1em;
  align-items: center;
}

.refresh-btn {
  width: 5em;
  border: 2px solid #000;
  padding: 0.2em;
}

.list-ul {
  padding: 0;
  display: none;
  flex-direction: column;
  gap: 0.4em;
  border: 2px solid #000;
  list-style: none;
}

.list-item {
  background-color: #e5e5e5;
  padding: 0.3em;
}

.list-ul > li {
  gap: 1em;
}

.score-div {
  display: flex;
  flex-direction: column;
}
